<div class="container">
	<div class="container">
		<a href="/adm/adv/list">Список всех объявлений</a>
		<span> / </span>

		<a href="/adm/panel">Добавить объявление</a>
		<span> / </span>

		<a href="/adm/carousel/list">Список всех каруселей</a>
		<span> / </span>

		<a href="/adm/add-carosel">Добавить карусель</a>
		<span> / </span>

		<a href="/adm/settings">*Настройки</a>
	</div>
</div>